{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <p class="date">{{ .Date.Format "Jan 2, 2006" }}</p>
    {{ partial "tags.html" .Params.tags }}
    {{ if or .Params.repository .Params.liveDemo }}
    <div class="article-links">
      {{ with .Params.repository }}<a href="{{ . }}" target="_blank">Repository</a>{{ end }}
      {{ with .Params.liveDemo }}<a href="{{ . }}" target="_blank">Live Demo</a>{{ end }}
    </div>
    {{ end }}
  </header>
  <div class="prose">
    {{ .Content }}
  </div>
</article>
{{ end }}
